- content_for :title do
  %title
    what is necessary for you? @cowplace
- content_for :header do
  = stylesheet_link_tag 'positioning'
- content_for :scripts do
  = javascript_include_tag 'excanvas'
  = javascript_include_tag 'positioning'

%div{:id => 'content'}
- @nodes.each do |node|
  %div{:class => 'item'}
    %span= node
