- content_for :title do
  %title= title_with_name
- content_for :navigation do
  = breadcrumb_list([:top])
- content_for :leftbar do
  %p please select topics
  %ul
    %li
      %a{:href => :profile} profile
    %li
      %a{:href => :visualized_sorting_algorithm} sorting
    %li
      %a{:href => :multi_particles} particles
    %li
      %a{:href => :visualized_list} list
