- content_for :title do
  %title= title_with_name
- content_for :leftbar do
  %p please select topics
  %ul
    %li
      %a{:href => :author} author
    %li
      %a{:href => :visualized_sorting_algorithm} sorting
    %li
      %a{:href => :multi_particles} particles
    %li
      %a{:href => :visualized_list} list
    %li
      %a{:href => :visualized_structure} structure
