- content_for :title do
  %title= title_with_name('multi particles')
- content_for :leftbar do
  %p please push to start
  %div
    %ul
      - @kinds.each do |kind|
        %li
          %a{:href => "/multi_particles/#{kind}"}= kind

%div{:id => 'stage'}
