- content_for :header do
  = stylesheet_link_tag 'rails'
- content_for :scripts do
  = javascript_include_tag 'excanvas'
  = javascript_include_tag 'lib/jquery.subwayMap-0.5.0.js'
  %script{:type => 'text/javascript'}
    $(".subway-map").subwayMap({ debug: true });
- content_for :title do
  %title= title_with_name('rails')
- content_for :leftbar do
  %div{:id => 'legend'}

%div{"class" => 'subway-map',
     "data-columns" => "800",
     "data-rows" => "600",
     "data-cellSize" => "1",
     "data-legendId" => "legend",
     "data-textClass" => "text",
     "data-lineWidth" => "4"}
  %ul{"data-color" => "#9caeb7",
      "data-label" => "Hibiya Line"}
    %li{"data-coords" => "623.5, 144.2"}
    %li{"data-coords" => "623.5, 157.0"}
    %li{"data-coords" => "618.5, 162.0"}
    %li{"data-coords" => "555.3, 162.0"}
    %li{"data-coords" => "550.3, 167.0"}
    %li{"data-coords" => "550.3, 230.2"}
    %li{"data-coords" => "545.3, 235.2"}
    %li{"data-coords" => "508.0, 235.2"}
    %li{"data-coords" => "503.0, 240.2"}
    %li{"data-coords" => "503.0, 305.1"}
    %li{"data-coords" => "508.0, 310.1"}
    %li{"data-coords" => "576.0, 310.1"}
    %li{"data-coords" => "581.0, 315.1"}
    %li{"data-coords" => "581.0, 406.6"}
    %li{"data-coords" => "586.0, 411.6"}
    %li{"data-coords" => "626.1, 411.6"}
    %li{"data-coords" => "631.1, 416.6"}
    %li{"data-coords" => "631.1, 443.1"}
    %li{"data-coords" => "626.1, 448.1"}
    %li{"data-coords" => "551.0, 448.1"}
    %li{"data-coords" => "542.5, 444.6"}
    %li{"data-coords" => "495.3, 397.4"}
    %li{"data-coords" => "486.7, 393.9"}
    %li{"data-coords" => "393.5, 393.9"}
    %li{"data-coords" => "385.0, 397.4"}
    %li{"data-coords" => "336.7, 445.7"}
    %li{"data-coords" => "328.2, 449.2"}
    %li{"data-coords" => "226.8, 449.2"}
    %li{"data-coords" => "218.3, 452.7"}
    %li{"data-coords" => "168.8, 502.2"}
  %ul{"data-color" => "#009944",
      "data-label" => "Chiyoda Line"}
    %li{"data-coords" => "191.3, 378.0"}
    %li{"data-coords" => "191.3, 435.3"}
    %li{"data-coords" => "196.3, 440.3"}
    %li{"data-coords" => "276.3, 440.3"}
    %li{"data-coords" => "284.9, 436.8"}
    %li{"data-coords" => "307.5, 414.2"}
    %li{"data-coords" => "316.0, 410.6"}
    %li{"data-coords" => "433.7, 410.6"}
    %li{"data-coords" => "438.7, 405.6"}
    %li{"data-coords" => "438.7, 180.5"}
    %li{"data-coords" => "442.2, 171.9"}
    %li{"data-coords" => "475.1, 139.0"}
    %li{"data-coords" => "483.7, 135.5"}
    %li{"data-coords" => "653.8, 135.5"}
  %ul{"data-color" => "#f39700",
      "data-label" => "Ginza Line"}
    %li{"data-coords" => "166.9, 426.1"}
    %li{"data-coords" => "232.0, 426.1"}
    %li{"data-coords" => "240.5, 422.6"}
    %li{"data-coords" => "274.8, 388.3"}
    %li{"data-coords" => "281.9, 388.3"}
    %li{"data-coords" => "325.3, 431.7"}
    %li{"data-coords" => "333.9, 435.3"}
    %li{"data-coords" => "487.1, 435.3"}
    %li{"data-coords" => "495.7, 431.7"}
    %li{"data-coords" => "498.9, 428.5"}
    %li{"data-coords" => "507.5, 425.0"}
    %li{"data-coords" => "535.3, 425.0"}
    %li{"data-coords" => "543.9, 421.4"}
    %li{"data-coords" => "550.2, 415.0"}
    %li{"data-coords" => "553.8, 406.5"}
    %li{"data-coords" => "553.8, 340.3"}
    %li{"data-coords" => "548.8, 335.3"}
    %li{"data-coords" => "466.0, 335.3"}
    %li{"data-coords" => "461.0, 330.3"}
    %li{"data-coords" => "461.0, 247.5"}
    %li{"data-coords" => "466.0, 242.5"}
    %li{"data-coords" => "592.6, 242.5"}
  %ul{"data-color" => "#00a7db",
      "data-label" => "Tozai Line"}
    %li{"data-coords" => "73.2, 277.1"}
    %li{"data-coords" => "278.1, 277.1"}
    %li{"data-coords" => "286.6, 280.6"}
    %li{"data-coords" => "355.9, 349.9"}
    %li{"data-coords" => "364.4, 353.4"}
    %li{"data-coords" => "419.3, 353.4"}
    %li{"data-coords" => "427.8, 357.0"}
    %li{"data-coords" => "455.4, 384.6"}
    %li{"data-coords" => "464.0, 388.1"}
    %li{"data-coords" => "719.9, 388.1"}
    %li{"data-coords" => "728.5, 384.6"}
    %li{"data-coords" => "789.8, 323.2"}
    %li{"data-coords" => "798.4, 319.7"}
    %li{"data-coords" => "804.3, 319.7"}
  %ul{"data-color" => "#e60012",
      "data-label" => "Marunouchi Line"}
    %li{"data-coords" => "0.0, 307.7"}
    %li{"data-coords" => "210.2, 307.7"}
    %li{"data-coords" => "218.6, 311.3"}
    %li{"data-coords" => "317.2, 414.6"}
    %li{"data-coords" => "325.6, 418.2"}
    %li{"data-coords" => "530.0, 418.2"}
    %li{"data-coords" => "535.0, 413.2"}
    %li{"data-coords" => "535.0, 393.6"}
    %li{"data-coords" => "531.5, 385.0"}
    %li{"data-coords" => "522.5, 376.1"}
    %li{"data-coords" => "514.0, 372.6"}
    %li{"data-coords" => "458.0, 372.6"}
    %li{"data-coords" => "449.5, 369.0"}
    %li{"data-coords" => "432.8, 352.4"}
    %li{"data-coords" => "429.3, 343.8"}
    %li{"data-coords" => "429.3, 239.8"}
    %li{"data-coords" => "425.7, 231.3"}
    %li{"data-coords" => "369.1, 174.7"}
    %li{"data-coords" => "360.6, 171.1"}
    %li{"data-coords" => "264.1, 171.1"}
    %li{"data-coords" => "255.6, 174.7"}
    %li{"data-coords" => "219.2, 211.0"}
  %ul{"data-color" => "#e60012",
      "data-label" => "Marunouchi Line Branch"}
    %li{"data-coords" => "9.7, 344.3"}
    %li{"data-coords" => "56.4, 344.3"}
    %li{"data-coords" => "64.9, 340.7"}
    %li{"data-coords" => "97.9, 307.7"}
  %ul{"data-color" => "#d7c447",
      "data-label" => "Yurakucho Line"}
    %li{"data-coords" => "32.0, 18.4"}
    %li{"data-coords" => "228.1, 214.5"}
    %li{"data-coords" => "236.7, 218.1"}
    %li{"data-coords" => "303.7, 218.1"}
    %li{"data-coords" => "312.3, 221.6"}
    %li{"data-coords" => "345.7, 255.1"}
    %li{"data-coords" => "354.3, 258.6"}
    %li{"data-coords" => "371.8, 258.6"}
    %li{"data-coords" => "376.8, 263.6"}
    %li{"data-coords" => "376.8, 306.8"}
    %li{"data-coords" => "371.8, 311.8"}
    %li{"data-coords" => "336.3, 311.8"}
    %li{"data-coords" => "327.7, 308.2"}
    %li{"data-coords" => "305.9, 286.4"}
    %li{"data-coords" => "299.2, 286.1"}
    %li{"data-coords" => "296.0, 294.3"}
    %li{"data-coords" => "296.0, 370.1"}
    %li{"data-coords" => "301.0, 375.1"}
    %li{"data-coords" => "384.5, 375.1"}
    %li{"data-coords" => "393.0, 378.7"}
    %li{"data-coords" => "414.3, 400.0"}
    %li{"data-coords" => "422.9, 403.5"}
    %li{"data-coords" => "462.8, 403.5"}
    %li{"data-coords" => "471.3, 407.0"}
    %li{"data-coords" => "518.4, 454.1"}
    %li{"data-coords" => "527.0, 457.7"}
    %li{"data-coords" => "688.0, 457.7"}
    %li{"data-coords" => "693.0, 452.7"}
    %li{"data-coords" => "693.0, 419.8"}
  %ul{"data-color" => "#bb641d",
      "data-label" => "Fukutoshin Line"}
    %li{"data-coords" => "25.0, 22.1"}
    %li{"data-coords" => "220.4, 217.5"}
    %li{"data-coords" => "220.4, 217.5"}
    %li{"data-coords" => "220.4, 389.7"}
    %li{"data-coords" => "216.9, 398.3"}
    %li{"data-coords" => "201.3, 413.9"}
    %li{"data-coords" => "192.7, 417.4"}
    %li{"data-coords" => "189.7, 417.4"}
    %li{"data-coords" => "181.1, 420.9"}
    %li{"data-coords" => "177.5, 424.6"}
