- content_for :title do
  %title= title_with_name('railway')
- content_for :header do
  = stylesheet_link_tag 'railway'
- content_for :scripts do
  = javascript_include_tag 'railway/basic'

#content
#data
