- content_for :title do
  %title= title_with_name('visualized structure')
- content_for :leftbar do
  %p please see structure used by google chart api
- content_for :status do
  %p= "sample is below ... "

%img{:src => "http://chart.apis.google.com/chart?cht=gv&chl=#{@kinds}"}
