%table{:class => "list"}
  %tr
    %td{:class => 'fattree', :colspan => 2}
    %td{:class => 'fattree nil elem', :colspan => 2}
    %td{:class => 'fattree nil elem', :colspan => 2}
    %td{:class => 'fattree', :colspan => 2}
  %tr
    %td{:class => 'fattree', :colspan => 2}
    %td{:class => 'tree uppercenterleft'}
    %td{:class => 'tree uppercenterright'}
    %td{:class => 'tree uppercenterleft'}
    %td{:class => 'tree uppercenterright'}
    %td{:class => 'fattree', :colspan => 2}
  %tr
    %td{:class => 'fattree', :colspan => 2}
    %td{:class => 'tree lowercenterleft'}
    %td{:class => 'fattree', :colspan => 2}
    %td{:class => 'tree lowercenterright'}
    %td{:class => 'fattree', :colspan => 2}
  %tr
    %td{:class => 'branch', :colspan => '4'}= car
    %td{:class => 'branch', :colspan => '4'}= cdr
